*{
  box-sizing: border-box;
}

body{
  background-image: url(../images/cover.jpg);
  display: flex;
  
  background-repeat: no-repeat;
  justify-content: center;
  background-attachment: fixed;
  object-fit: cover;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.container{
  border-radius: 20px;
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}
.nav-link a{
  display: flex;
  font-size: 1.4rem;
    color: rgb(255, 254, 254);
    text-align: center;
    text-decoration: none;
  padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}
ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  border-radius: 20px;
}

.wrapper > *{
  padding: 1em;
}

.book-info{
  background:#09131b;
}

.book-info h3, .book-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:linear-gradient(120deg, #4ea7deab 0%, #c2e9fb 100%);
}
/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}
.form-input label {
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  text-align:center;
  text-decoration: overline;
  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:10px;
  cursor:pointer;
}
 
.preview img {
  width:100px;
  height:100px;
  display:none;
  margin-top:10px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}



.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#25303b;
  color:#fff;
  outline:0;
  transition: background-color 1s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .book-info h3, .book-info ul, .brand{
    text-align: left;
  }
}