*{
    box-sizing: border-box;
  }
  
  body{
    background-image: url(../images/cover.jpg);
    display: flex;
    background-size: cover;
    height: 50vh;
    display: flex;
    background-attachment: fixed;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:1em;
  }
  
  .container{
    border-radius: 20px;
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
  }
  .nav-link a{
    display: flex;
    font-size: 1.4rem;
      color: rgb(255, 254, 254);
      text-align: center;
      text-decoration: none;
    padding: 1.6rem 1rem;
      font-size: 1.1rem;
      position: relative;
      font-family: var(--Abel);
      font-size: 1.1rem;
  }
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:#fff;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
    border-radius: 20px;
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .book-info{
    background:#09131b;
  }
  
  .book-info h3, .book-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background:linear-gradient(120deg, #4ea7deab 0%, #c2e9fb 100%);
  }
  /* FORM STYLES */
  


form h3{
    font-size: 1.2rem;
    color:var(--yellow);
    font-weight: normal;
    text-transform: capitalize;
}
form h3 span{
  font-size: 1rem;
  color: white;
  text-decoration: underline;
}

div form span a{
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 2px;
    
    padding:0 .5rem;
}
div form span #btn:hover{
  background-color: transparent;
  border:rgb(255, 255, 255) solid 1px

}



  
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .book-info h3, .book-info ul, .brand{
      text-align: left;
    }
  }