  <!--Left part-->
  <div class="split left">
    <div class="centered">
      <div class="top-bar">
        <div class="but">
        <button class="btn" id="prev-page">
          <i class="fas fa-arrow-circle-left"></i> Prev Page
        </button>
        <button class="btn" id="next-page">
          Next Page <i class="fas fa-arrow-circle-right"></i>
        </button>
        <span class="page-info">
          <span id="page-num"></span>/<span id="page-count"></span>
        </span>
        
      </div>
      </div>
      <div class="Section"></div>
      <canvas id="pdf-render"></canvas>
    </div>
  </div>
  <!--Left part-->




  <!--Right Section-->
  <div class="split right">
    <div class="centered">
      <div class="chat-container">
        <header class="chat-header">
          <h4><a href="index.html" class="btn3">Download PDF</a></h4>
          <a href="index.html" class="btn">Leave Room</a>
        </header>
        <main class="chat-main">
          <div class="chat-sidebar">
            <h3><i class="fas fa-comments"></i> Room Name:</h3>
            <h2 id="room-name"><%= room %> </h2>
            <h3><i class="fas fa-users"></i> Users</h3>
            <ul id="users">
            </ul>
            <button class="btn4">              <i class="fa fa-microphone"></i></button>

            <button class="btn3" id="togglebtn">Join Voice</button>
          </div>
          
          <div class="chat-messages">
              <div class="message">
                <p class="meta">mradul</p>
                <p class="text">
                  hello! how much have you completed?
                </p>
              </div>
              <div class="message">
                <p class="meta">anshika <span>10:15pm</span></p>
                <p class="text">
                  Completed last three units.
                </p>
              </div>
          </div>
        </main>
        <div class="chat-form-container">
          <form id="chat-form">
            
            <input
              id="msg"
              type="text"
              placeholder="Enter Message"
              required
              autocomplete="off" />
            <button class="btn2">
              
              <i class="fas fa-paper-plane"></i> Send</button>
              
            
          </form>
        </div>
    </div>
  </div>
  <div id="pdf" style="display: none">
    <%= pdf %> 
  </div>

  <!--Right part-->
